@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Mohave:ital,wght@0,300..700;1,300..700&family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to top, #0c213b, #0c223c, #0c223e, #0c233f, #0c2341);
  scroll-behavior: smooth;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav {
  display: flex;
}
header nav .logo {
  color: white;
  font-size: 25px;
  font-weight: 500;
  font-family: "Onest", sans-serif;
}
header nav .logo:hover {
  color: #3879E5;
  scale: 1;
}
header nav .nav-link {
  text-decoration: none;
  font-weight: 500;
  margin: 0 3px;
  color: white;
  font-family: "Onest", sans-serif;
  font-size: 16px;
}
header nav .nav-link:hover {
  color: #3879E5;
}

.seccionInfo {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.seccionInfo .containerSeccionInfo {
  width: 50%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.seccionInfo .containerSeccionInfo .fotoContainer {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
}
.seccionInfo .containerSeccionInfo .fotoContainer .foto img {
  width: 80px;
  height: 80px;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}
.seccionInfo .containerSeccionInfo .fotoContainer .botonDisponible .disponible {
  width: 200px;
  height: 44px;
  border-radius: 75px;
  border: 1px solid #FDEF89;
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
  font-family: "Onest", sans-serif;
  color: #FDEF89;
  font-weight: 500;
}
.seccionInfo .containerSeccionInfo .infoContainer .titleContainer .title {
  color: white;
  font-family: "Onest", sans-serif;
  font-size: 3rem;
  font-weight: 600;
}
.seccionInfo .containerSeccionInfo .infoContainer .subtitleContainer .subtitle {
  color: #FDEF89;
  font-family: "Onest", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
}
.seccionInfo .containerSeccionInfo .logosContactos .btnContacto {
  width: 150px;
  height: 44px;
  border-radius: 5px;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
}
.seccionInfo .containerSeccionInfo .logosContactos .btnContacto svg {
  color: white;
}
.seccionInfo .containerSeccionInfo .logosContactos .btnContacto span {
  font-family: "Onest", sans-serif;
  color: white;
  font-weight: 500;
}
.seccionInfo .containerSeccionInfo .downloadButtonContainer {
  margin: 5px 0;
}
.seccionInfo .containerSeccionInfo .downloadButtonContainer .download {
  width: 305px;
  height: 44px;
  border-radius: 5px;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
}
.seccionInfo .containerSeccionInfo .downloadButtonContainer .download a {
  font-family: "Onest", sans-serif;
  color: white;
  font-weight: 500;
  text-decoration: none;
}

.seccionSobreMiContainer {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.seccionSobreMiContainer .titleSobreMi {
  margin: 25px;
  color: white;
  font-size: 2.3rem;
  font-family: "Onest", sans-serif;
  font-weight: 700;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1);
  margin: 25px;
}
.seccionSobreMiContainer .infoAboutMe {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seccionSobreMiContainer .infoAboutMe .infoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
}
.seccionSobreMiContainer .infoAboutMe .infoContainer .infoPresentacion {
  font-size: 1.3rem;
  font-family: "Onest", sans-serif;
  font-weight: 300;
  color: #9098A3;
}
.seccionSobreMiContainer .infoAboutMe .infoContainer .infoPresentacion .color {
  color: #FDEF89;
  font-weight: 500;
}
.seccionSobreMiContainer .infoAboutMe .imgSobreMiContainer {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.01);
  border-radius: 10px;
}
.seccionSobreMiContainer .infoAboutMe .imgSobreMiContainer img {
  width: 300px;
  height: 300px;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}

.proyectos-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.proyectos-container .tituloProyectos {
  margin: 10px;
  color: white;
  font-size: 2.3rem;
  font-family: "Onest", sans-serif;
  font-weight: 700;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1);
}
.proyectos-container .infoProyecto {
  width: 50%;
  height: 430px;
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  gap: 20px;
}
.proyectos-container .infoProyecto h2 {
  margin: 5px;
  color: white;
  font-size: 2rem;
  font-family: "Onest", sans-serif;
  font-weight: 700;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1);
}
.proyectos-container .infoProyecto .lenguajesUsados {
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
  gap: 15px;
}
.proyectos-container .infoProyecto .lenguajesUsados .html, .proyectos-container .infoProyecto .lenguajesUsados .css, .proyectos-container .infoProyecto .lenguajesUsados .sass, .proyectos-container .infoProyecto .lenguajesUsados .js {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  width: 110px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.01);
  border-radius: 15px;
}
.proyectos-container .infoProyecto .lenguajesUsados .html .imgHtmlContainer, .proyectos-container .infoProyecto .lenguajesUsados .html .imgCssContainer, .proyectos-container .infoProyecto .lenguajesUsados .html .imgScssContainer, .proyectos-container .infoProyecto .lenguajesUsados .css .imgHtmlContainer, .proyectos-container .infoProyecto .lenguajesUsados .css .imgCssContainer, .proyectos-container .infoProyecto .lenguajesUsados .css .imgScssContainer, .proyectos-container .infoProyecto .lenguajesUsados .sass .imgHtmlContainer, .proyectos-container .infoProyecto .lenguajesUsados .sass .imgCssContainer, .proyectos-container .infoProyecto .lenguajesUsados .sass .imgScssContainer, .proyectos-container .infoProyecto .lenguajesUsados .js .imgHtmlContainer, .proyectos-container .infoProyecto .lenguajesUsados .js .imgCssContainer, .proyectos-container .infoProyecto .lenguajesUsados .js .imgScssContainer {
  margin: 0 5px 0 0;
}
.proyectos-container .infoProyecto .lenguajesUsados .html .imgHtmlContainer img, .proyectos-container .infoProyecto .lenguajesUsados .html .imgCssContainer img, .proyectos-container .infoProyecto .lenguajesUsados .html .imgScssContainer img, .proyectos-container .infoProyecto .lenguajesUsados .css .imgHtmlContainer img, .proyectos-container .infoProyecto .lenguajesUsados .css .imgCssContainer img, .proyectos-container .infoProyecto .lenguajesUsados .css .imgScssContainer img, .proyectos-container .infoProyecto .lenguajesUsados .sass .imgHtmlContainer img, .proyectos-container .infoProyecto .lenguajesUsados .sass .imgCssContainer img, .proyectos-container .infoProyecto .lenguajesUsados .sass .imgScssContainer img, .proyectos-container .infoProyecto .lenguajesUsados .js .imgHtmlContainer img, .proyectos-container .infoProyecto .lenguajesUsados .js .imgCssContainer img, .proyectos-container .infoProyecto .lenguajesUsados .js .imgScssContainer img {
  width: 25px;
  height: 20px;
}
.proyectos-container .infoProyecto .lenguajesUsados .html .imgJsContainer, .proyectos-container .infoProyecto .lenguajesUsados .css .imgJsContainer, .proyectos-container .infoProyecto .lenguajesUsados .sass .imgJsContainer, .proyectos-container .infoProyecto .lenguajesUsados .js .imgJsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}
.proyectos-container .infoProyecto .lenguajesUsados .html .imgJsContainer img, .proyectos-container .infoProyecto .lenguajesUsados .css .imgJsContainer img, .proyectos-container .infoProyecto .lenguajesUsados .sass .imgJsContainer img, .proyectos-container .infoProyecto .lenguajesUsados .js .imgJsContainer img {
  width: 20px;
  height: 20px;
}
.proyectos-container .infoProyecto .lenguajesUsados .html .nombreLenguaje, .proyectos-container .infoProyecto .lenguajesUsados .css .nombreLenguaje, .proyectos-container .infoProyecto .lenguajesUsados .sass .nombreLenguaje, .proyectos-container .infoProyecto .lenguajesUsados .js .nombreLenguaje {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.proyectos-container .infoProyecto .lenguajesUsados .html .nombreLenguaje span, .proyectos-container .infoProyecto .lenguajesUsados .css .nombreLenguaje span, .proyectos-container .infoProyecto .lenguajesUsados .sass .nombreLenguaje span, .proyectos-container .infoProyecto .lenguajesUsados .js .nombreLenguaje span {
  text-align: center;
  color: white;
  font-size: 12px;
  font-family: "Onest", sans-serif;
  font-weight: 500;
}
.proyectos-container .infoProyecto p {
  color: #9098A3;
  font-size: 1rem;
  font-family: "Onest", sans-serif;
  font-weight: 500;
}
.proyectos-container .infoProyecto button {
  width: 150px;
  height: 44px;
  border-radius: 10px;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
}
.proyectos-container .infoProyecto button svg {
  width: 25px;
  height: 25px;
  color: white;
}
.proyectos-container .infoProyecto button a {
  font-family: "Onest", sans-serif;
  color: white;
  font-weight: 500;
  text-decoration: none;
}

.containerCardsLenguajes {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.containerCardsLenguajes .titleTecnologias {
  margin: 10px 0;
  color: white;
  font-size: 2.3rem;
  font-family: "Onest", sans-serif;
  font-weight: 700;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1);
}
.containerCardsLenguajes .tecnologiasContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

footer {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.01);
}
footer .footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footerContainer button {
  background-color: rgba(255, 255, 255, 0.04);
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 100%;
  position: fixed;
  bottom: 5px;
  right: 10px;
}
footer .footerContainer button svg {
  width: 27px;
  height: 20px;
  color: white;
}

@media (max-width: 720px) {
  .seccionInfo .containerSeccionInfo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .seccionInfo .containerSeccionInfo .fotoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .seccionInfo .containerSeccionInfo .fotoContainer .foto img {
    width: 60px;
    height: 60px;
  }
  .seccionInfo .containerSeccionInfo .fotoContainer .botonDisponible .disponible {
    width: 170px;
    font-size: 0.9rem;
  }
  .seccionInfo .containerSeccionInfo .infoContainer .titleContainer .title {
    font-size: 2.7rem;
  }
  .proyectos-container .tituloProyectos {
    font-size: 2rem;
  }
  .proyectos-container .proyectos-cards-container {
    flex-direction: column;
    width: 100%;
  }
  .proyectos-container .proyectos-cards-container .card {
    width: 80%;
    height: 350px;
  }
  .proyectos-container .proyectos-cards-container .card .img-card-container {
    width: 350px;
    height: 360px;
  }
  .proyectos-container .proyectos-cards-container .card .img-card-container img {
    padding: 3px 2px;
    width: 350px;
  }
  .proyectos-container .infoProyecto {
    width: 80%;
  }
  .proyectos-container .infoProyecto .lenguajesUsados {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
  }
  .containerCardsLenguajes {
    height: auto;
  }
  .containerCardsLenguajes .tecnologiasContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
  }
  .seccionSobreMiContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0 0 0;
  }
  .seccionSobreMiContainer .infoAboutMe {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .seccionSobreMiContainer .infoAboutMe .infoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
  }
  .seccionSobreMiContainer .infoAboutMe .infoContainer .infoPresentacion {
    font-size: 1.1rem;
    font-weight: 500;
  }
  .seccionSobreMiContainer .infoAboutMe .imgSobreMiContainer img {
    display: none;
  }
}
.cardTeconologias {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 50px;
  border: none;
  background-color: rgba(255, 255, 255, 0.03);
  position: relative;
}
.cardTeconologias #html::before, .cardTeconologias #git::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(229, 83, 45, 0.2);
  filter: blur(10px);
  border-radius: 50px;
  z-index: -1;
}
.cardTeconologias #react::before, .cardTeconologias #css::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(27, 161, 204, 0.2);
  filter: blur(10px);
  border-radius: 30px;
  z-index: -1;
}
.cardTeconologias #sql::before, .cardTeconologias #php::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.1);
  filter: blur(10px);
  border-radius: 30px;
  z-index: -1;
}
.cardTeconologias #sass::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(207, 108, 156, 0.2);
  filter: blur(10px);
  border-radius: 30px;
  z-index: -1;
}
.cardTeconologias #js::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(240, 220, 85, 0.2);
  filter: blur(10px);
  border-radius: 30px;
  z-index: -1;
}
.cardTeconologias .imgCardContainer img {
  width: 50px;
  height: 50px;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}
.cardTeconologias .infoCardTeconologias {
  font-family: "Onest", sans-serif;
  font-size: 0.7rem;
  color: white;
  font-weight: 500;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1);
}

.proyectos-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 80%;
  gap: 25px;
}
.proyectos-cards-container .card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 430px;
  border: none;
  background-color: transparent;
  border-radius: 3px;
}
.proyectos-cards-container .card .img-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 410px;
  height: 360px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.proyectos-cards-container .card .img-card-container img {
  padding: 3px 2px;
  width: 400px;
  height: 350px;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
  border-radius: 5px;
  transition: 1s;
}
.proyectos-cards-container .card .img-card-container img:hover {
  scale: 0.99;
}

/*# sourceMappingURL=style.css.map */
