@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Mohave:ital,wght@0,300..700;1,300..700&family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #171B33; /*Azul oscuro con transparencia*/
  scroll-behavior: smooth;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav {
  display: flex;
}
header nav .logo {
  color: white;
  font-size: 25px;
  font-weight: 500;
  font-family: "Onest", sans-serif;
}
header nav .nav-link {
  text-decoration: none;
  font-weight: 500;
  margin: 0 3px;
  color: white;
  font-family: "Onest", sans-serif;
  font-size: 18px;
}
header nav .nav-link:hover {
  color: #273F78;
}

.seccionSobreMiContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.seccionSobreMiContainer .titleSobreMi {
  margin: 25px;
  color: white;
  font-size: 2rem;
  font-family: "orbitron";
  font-weight: 400;
  letter-spacing: 10px;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1);
  margin: 25px;
}
.seccionSobreMiContainer .infoAboutMe {
  max-width: 70%;
  text-align: left;
  margin: 25px;
}
.seccionSobreMiContainer .infoAboutMe .infoPresentacion {
  font-size: 1.3rem;
  font-family: "poppins";
  font-weight: 100;
  color: white;
}
.seccionSobreMiContainer .infoAboutMe .infoPresentacion .color {
  color: #00FF99;
  font-weight: 500;
}

.proyectos-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.proyectos-container h2 {
  margin: 25px;
  color: white;
  font-size: 2rem;
  letter-spacing: 10px;
  font-family: "orbitron";
  font-weight: 400;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1);
}

.containerCardsLenguajes {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
}
.containerCardsLenguajes .titleTecnologias {
  margin: 25px;
  color: white;
  letter-spacing: 10px;
  font-size: 2rem;
  font-family: "orbitron";
  font-weight: 400;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1);
}
.containerCardsLenguajes .tecnologiasContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cardTeconologias {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.03);
  transition: 1s;
}
.cardTeconologias:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.cardTeconologias .imgCardContainer img {
  width: 170px;
  height: 130px;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}
.cardTeconologias .infoCardTeconologias {
  font-family: "poppins";
  font-size: 1.2rem;
  color: white;
  font-weight: 500;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1);
}

.proyectos-cards-container {
  display: flex;
  justify-content: center;
  gap: 25px;
}
.proyectos-cards-container .card {
  display: flex;
  justify-content: start;
  margin: 35px 0 70px 0;
  width: 380px;
  height: 430px;
  background-color: transparent;
  border: 1px dotted rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}
.proyectos-cards-container .card .img-card-container img {
  padding: 3px 2px;
  width: 380px;
  height: 300px;
  border-radius: 5px;
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}
.proyectos-cards-container .card .info-card-container {
  margin: 5px 0;
  text-align: left;
}
.proyectos-cards-container .card .info-card-container .title-card {
  margin: 0 10px;
  color: white;
  font-size: 1.1rem;
  font-family: "orbitron";
  font-weight: 400;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1);
}
.proyectos-cards-container .card .lenguajes-proyectos {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.proyectos-cards-container .card .lenguajes-proyectos .html {
  width: 100px;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #E5532D;
  font-weight: 600;
  font-family: "orbitron";
}
.proyectos-cards-container .card .lenguajes-proyectos .sass {
  width: 100px;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #C76897;
  font-weight: 600;
  font-family: "orbitron";
}
.proyectos-cards-container .card .lenguajes-proyectos .js {
  width: 120px;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #EFD81D;
  font-weight: 600;
  font-family: "orbitron";
}
.proyectos-cards-container .card .botonVerProyecto {
  display: flex;
  justify-content: right;
  align-items: center;
  text-align: center;
  margin: 10px;
}
.proyectos-cards-container .card .botonVerProyecto button {
  width: 100%;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  outline: none;
  border-radius: 3px;
}
.proyectos-cards-container .card .botonVerProyecto button a {
  text-decoration: none;
  color: #07D28D;
  font-family: "orbitron";
  font-weight: 700;
  font-size: 15px;
}

/*# sourceMappingURL=style.css.map */
