
@import '../utilities/variables';

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    nav{
        display: flex;
        .logo{
            color: white;
            font-size: 25px;
            font-weight: 500;
            font-family: $fuenteOnest;

            &:hover{
                color: #3879E5;
                scale: 1;
            }
        }

        .nav-link{
            text-decoration: none;
            font-weight: 500;
            margin: 0 3px;
            color: white;
            font-family: $fuenteOnest;
            font-size: 16px;
            &:hover{
              color: #3879E5;  
            }
        }
    }
}
    
