@import '../utilities/variables';

.seccionInfo{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .containerSeccionInfo{
        width: 50%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        
        .fotoContainer{
            display: flex;
            justify-content: left;
            align-items: center;
            gap: 10px;

            .foto{

                img{
                    width: 80px;
                    height: 80px;
                    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));

                }
            }

            .botonDisponible{
                .disponible{
                    width: 200px;
                    height: 44px;
                    border-radius: 75px;
                    border: 1px solid #FDEF89;
                    outline: none;
                    background-color: rgba(255, 255, 255, 0.1);
                    font-family: $fuenteOnest;
                    color: #FDEF89;
                    font-weight: 500;
                }
            }
        }

        .infoContainer{
            .titleContainer{
                .title{
                    color: white;
                    font-family: $fuenteOnest;
                    font-size: 3rem;
                    font-weight: 600;
            }
        }
        
        .subtitleContainer{
            .subtitle{
                color:#FDEF89 ;
                font-family: $fuenteOnest;
                font-size: 1.2rem;
                font-weight: 500;
            }
        }
    }

    .logosContactos{
        .btnContacto{
            width: 150px;
            height: 44px;
            border-radius: 5px;
            border: 1px solid white;
            outline: none;
            background-color: rgba(255, 255, 255, 0.1);

            svg{
                color: white;
            }

            span{
                font-family: $fuenteOnest;
                color: white;
                font-weight: 500;
            }

        }
    }
    
    .downloadButtonContainer{
        margin: 5px 0;
        .download{
            width: 305px;
            height: 44px;
            border-radius: 5px;
            border: 1px solid white;
            outline: none;
            background-color: rgba(255, 255, 255, 0.1);
            a{
                font-family: $fuenteOnest;
                color: white;
                font-weight: 500;
                text-decoration: none;
            }
        }
    }
}
}