      @import '../utilities/variables';

        .cardTeconologias {
            width: 90px;
            height: 90px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            border-radius: 50px;
            border: none;
            background-color: rgba(255, 255, 255, 0.03);
            position: relative; // Para el efecto de luz
        

            #html,#git{
                &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(229, 83, 45, 0.2); // Color con menor opacidad
                filter: blur(10px); // Menos desenfoque
                border-radius: 50px; // Redondear bordes
                z-index: -1; // Asegura que esté detrás del contenido
            }
            }
        
            #react,#css{
                &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(27, 161, 204, 0.2)
                ; // Color con menor opacidad
                filter: blur(10px); // Menos desenfoque
                border-radius: 30px; // Redondear bordes
                z-index: -1; // Asegura que esté detrás del contenido
            }
            }

            #sql,#php{
                &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(255, 255, 255, 0.1)
                ; // Color con menor opacidad
                filter: blur(10px); // Menos desenfoque
                border-radius: 30px; // Redondear bordes
                z-index: -1; // Asegura que esté detrás del contenido
            }
            }

            #sass{
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: rgba(207, 108, 156, 0.2)
                    ; // Color con menor opacidad
                    filter: blur(10px); // Menos desenfoque
                    border-radius: 30px; // Redondear bordes
                    z-index: -1; // Asegura que esté detrás del contenido
                }
            }


            #js{
                &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(240, 220, 85, 0.2)
                ; // Color con menor opacidad
                filter: blur(10px); // Menos desenfoque
                border-radius: 30px; // Redondear bordes
                z-index: -1; // Asegura que esté detrás del contenido
            }
            }


            
            .imgCardContainer{
                img{
                    width: 50px;
                    height: 50px;
                    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
                }
            }

            .infoCardTeconologias{
                font-family: $fuenteOnest;
                font-size: .7rem;
                color: white;
                font-weight: 500;
                text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1);
            }
        }
               